body {
    width: 1000px;
    height: 1000px;
}

a {
    display: block;
    margin: 100px auto;
    border-radius: 20px;
    padding: 10px 20px;
    color: green;
    border: 2px solid green;
    background-color: white;
    font-weight: 900;
    font-family: monospace;
    letter-spacing: 2px;
    width: fit-content;
}

a:after {
    content: "PASA POR ENCIMA";
}

a:focus,
a:hover {
    color: white;
    border: 2px solid green;
    background-color: green;
}

a:active:after {
    content: "¡HECHO!";
}